@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .button {
    @apply text-center p-2 rounded-md text-white cursor-pointer;
  }
  .login__input {
    @apply text-white p-2 m-3 border rounded-md focus:outline-none bg-[#000] bg-opacity-30;
  }
  .home-card {
    @apply flex items-center w-full border rounded bg-no-repeat bg-right hover:shadow-2xl;
  }
  .home-card > h1 {
    @apply text-gray-700 text-5xl pl-10;
  }
}
